.sidebar {
    position: absolute;
    background-color: #0b8a48;
    height: 350px;
    width: 320px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-top: 50px; 
    margin-left: 56px;
    z-index: 2;
}



/* Tambahkan efek hover untuk tautan sidebar */

html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

.profile {
    background-color: #0b8a48;
    height: 58px;
    width: 320px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-top-right-radius: 30px;
}
.profile img{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin-left: 15px;
    margin-bottom: 4px;
}
.profile p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'calibri';
    margin-top: 18px;
    font-weight: 600;
    margin-left: 10px;
}



.sidebar a,p {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'calibri';
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;

}

.sidebar a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px 20px 0px 20px;
    color: white;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 31px;
    font-weight: 700;
    width: 300px;
   

}

.option {
    margin-top: 50px;
    position: fixed;
}

.aktif {
    background-color: rgba(0, 0, 0, 0.3);
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    border-radius: 0px 20px 0px 20px;
 
}

.aktif p {
    margin-left: 30px;
    margin-top: 10px;
    padding-top: 4px;
    font-weight: 700;
}

footer
{
    background-color: #0A8146;
}

.footerContainer
{
    width: 100%;
    padding: 20px 30px 20px;
}

.socialIcons
{
    display: flex;
    justify-content: center;
}

.socialIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i
{
    font-size: 2em;
    color: #0B573B;
    opacity: 0.9;
}

.socialIcons a:hover
{
    background-color: #0A8146;
    transition: 0.5s;
}

.socialIcons a:hover i
{
    background-color: none;
    transition: 0.5s;
}

.footerNav ul
{
    display: flex;
    justify-content: center;
}

.footerNav p
{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

.footerNav ul li
{
    color: white;
    margin: 15px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.footerBottom
{
    background-color: white;
    padding: 20px;
    text-align: center;
    justify-content: center;
}

.footerBottom p
{
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    color: #4A5568;
}